.elgg-sortable-list-form-toggle {
	display: inline-block;
	width: 100%;
	text-align: right;
	padding: 0.25rem;
}

.elgg-form-collection-search {
	margin-bottom: 1rem;
}

.elgg-form-collection-search .elgg-form-footer {
	text-align: right;
	margin-top: 0.5rem;
	padding: 0;
}

.elgg-form-collection-search fieldset {
	min-width: 0;
}

.elgg-form-collection-search .elgg-field {
	margin: 0;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
}

.elgg-form-collection-search .elgg-field + .elgg-field {
	margin-top: 0.5rem;
}

.elgg-form-collection-search .elgg-grid {
	margin: 0;
}

.elgg-form-collection-search input[type="text"],
.elgg-form-collection-search select,
.elgg-form-collection-search .select {
	width: 100%;
}